@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');

* {
  box-sizing: border-box; }


html, body {
    margin: 0;
    padding: 0;
    font-family: "Gupter", serif;
    font-weight: 300;
    font-style: normal;
    height: 100vh;
    width: 100%;
    display: block;
    position: relative;
}

body, html, .header, header, nav, footer { 
    width: 100%;
    padding: 0;
    margin: 0;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: fit-content;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: fit-content;
    margin-right: 10px;
}

.header .contact-info {
    text-align: left;
    margin-right: 0;
    padding:20px;
}

.header .contact-info span {
    margin: 5px 0;
    font-size: 14px;
    font-weight: 800;
}

.header .contact-info p {
    margin: 5px 0;
    font-size: 13px;
}

.header .contact-info a {
    margin: 5px 0;
    font-size: 13px;
    text-decoration: none;
    color: rgb(13, 37, 177);
}

.contact-flex {
    display: flex;
}

.contact-block {
    display: block;
    padding: 10px;
    text-align: left;
} 

nav {
    border-top: 1px solid #ddd;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: lighter;
    padding: 10px 0;
    display: block;
    font-size: 20px;
}

nav ul li a:hover {
    color: #007BFF;
}




footer { 
    background-color: rgb(17, 21, 46);
    font-weight: 100;
    color: white;
    width: 100%;
    height: fit-content;
    bottom: 0;
    padding: 0;
    display: block;
    position: sticky;
    margin: 0;
}

footer p {
    font-weight: 100;
    letter-spacing: 0.2cap;
}

footer a {
  color: white;
}



.footer-container {
    padding: 10px;
}

.schedule-symbol {
    padding-top: 0;
}

.hero-container {
  width:100%;
  display: block;
  /* -ms-flex-wrap: wrap; */
  
}


.background-hero {

  background-image: url("img/familyhappy.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  width:100%;
  display: flex;
  position: relative;
  justify-content: right; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 100vh;  
  flex: 50%;         
}

.welcome-container {
  justify-content:center;
  display: flex;
  text-align:center;
  padding:1rem 5rem 1rem 5rem;
  position:relative;
  width:100%;
  flex: 10%;
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;
  
 
 


}
.welcome-container p {
  font-size:20px;
  color:#2b5e94;
  font-weight:100;
  
  
}

.welcome-container h1 {
  color:#2b5e94;
  font-weight:100;
 
  width:fit-content;
  padding:50px;
  border-radius: 10px;
  font-size:3rem;


}

.herotext-container {
  justify-content:center;
  text-align:right;
  padding:1rem 5rem 1rem 5rem;
  position:center;
  width: 70%;
  align-items: center;
  background-color:#2b5e943b;
  border-radius: 0 0 0 0;



}
.herotext-container p {
  font-size:30px;
  text-align:left;
  color:white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Schatteneffekt */
}


.body-infos-container {

  display: flex;
  padding:90px 40px;
  
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
}
  


@media screen and (max-width: 960px) {
    .header {
        display: block;
        width: 100%;
    }

    .contact-block, .contact-flex {
        text-align: right;
        margin: 0;
    } 

    .contact-flex {
        text-align: right;
        margin: 0;
        display:flex;
        justify-content:right;
        
    }

    .header .contact-info span {
      margin:0;
      font-size: 12px;
      font-weight: 800;
  }
  
  .header .contact-info p {
      margin:0;
      font-size: 12px;
  }
  
  .header .contact-info a {
      margin:0;
      font-size: 12px;
      text-decoration: none;
      color: rgb(13, 37, 177);
  }

  .header .contact-icon {
    width:auto;
    min-width:20px;
    max-width:30px;
    margin:0;
    padding:0;

  }

  .hero-container, .welcome-container, .background-hero {
    display: block;
  }

.background-hero {
  
  background-image: url("img/familyhappy.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  width:100%;
  display: flex;
  position: relative;
  justify-content: right; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 100vh;  
  flex: 50%; 
      
}

  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}



html, body, .header, header, nav, footer, .footer {
  width: 100%;
  margin:0;
  padding:0;
  
}

.references h1 {
  color:#333;
  justify-content: center;
  text-align: center;
  padding:20px;
}

@keyframes toColor {
  0%    { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
  25%   { -webkit-filter: grayscale(75%); filter: grayscale(75%); }
  50%   { -webkit-filter: grayscale(50%); filter: grayscale(50%); }
  75%   { -webkit-filter: grayscale(25%); filter: grayscale(25%); }
  100%  { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
}

img.desaturate, .infos-image {
filter: grayscale(100%); 
transition: filter 0.3s ease-in-out;
}

img.desaturate:hover, .infos-image:hover { 
 animation: toColor 0.3s;
 filter: none;
}

/* GOOGLE FONTS */


.gupter-regular {
  font-family: "Gupter", serif;
  font-weight: 400;
  font-style: normal;
}

.gupter-medium {
  font-family: "Gupter", serif;
  font-weight: 500;
  font-style: normal;
}

.gupter-bold {
  font-family: "Gupter", serif;
  font-weight: 700;
  font-style: normal;
}
